<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script src="../Lib/angular.min.js"></script>
    <script src="../Scripts/angularService.js"></script>
</head>
<body ng-app="serviceApp" ng-controller="empController">
    <h1>List of Employees with us</h1>
    <div style="width: 50%; display: inline-block; vertical-align: top">
    <input placeholder="Search" type="search" ng-model="finder"/>
    <table border="1">
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee City</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="emp in employees | filter: emp.empname = finder">
            <td>{{emp.empid}}</td>
            <td>{{emp.empname }}</td>
            <td>{{emp.empaddress}}</td>
            <td><a href="#" ng-click="find(emp.empid)">Edit</a></td>
        </tr>
    </table>
    </div>
    <div style="width: 40%; display: inline-block; vertical-align: top" ng-if="selected">
        <h2>Details of the Employee</h2>
        <p><input ng-model="selected.empid"/></p>
        <p><input ng-model="selected.empname"/></p>
        <p><input ng-model="selected.empaddress"/></p>
    </div>    
</body>
</html>